<div class="header-content" > 
  <app-header [headerText]="'Please Login'"></app-header> 
</div>

<div class="auth-form-margin-top">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit()" #LoginForm="ngForm">
          <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
            <div class="form-group">
              <label for="email">Mail</label>
              <input 
                type="email" 
                id="email" 
                class="form-control"
                ngModel
                name="email"
                required
                email
                #email="ngModel">
            </div>
            <p class="auth-notvalid-text help-block" *ngIf="!email.valid && email.touched">Please enter valid email</p>

            <div class="form-group">
              <label for="password">password</label>
              <input 
                type="password" 
                id="password" 
                class="form-control"
                ngModel
                name="password"
                password
                required
                #password="ngModel"
                >
                <p class="help-block auth-notvalid-text" *ngIf="!password.valid && password.touched">Please enter valid password</p>
            </div>


          </div>

          <p class="auth-notvalid-text" *ngIf="errorMessage && !(!userData.valid && userData.touched)" > * {{errorMessage}}</p>

          <button 
            mat-raised-button
            color="primary"
            class="auth-form-submit-btn" 
            type="submit" 
            [disabled]="!LoginForm.valid"
            >Submit</button>
            <a [routerLink]="'/signup'">I don't have account, switch to SignUp</a>

        </form>

      </div>
    </div>
  </div>

</div>