<div *ngIf="movieDetails">
    
    <a [routerLink]="'../../'" class="previous round backward-btn">&#8249;</a>
    <div class="header-content"> 
        <app-header [headerText]="movieDetails.title"></app-header> 
    </div>

    <div class='movie-details'>
        <div class="movie-img">
            <img src="https://image.tmdb.org/t/p/original/{{movieDetails.poster_path}}">
        </div>
        <div class="movie-text-details">
            <div class="description">
                <h2>description</h2>
                <h4>{{movieDetails.overview}}</h4>
            </div>

            <div class="tagline">
                <h3>Tagline: {{movieDetails.tagline}}</h3>
            </div>

            <div class="average-rating">
                <h3>AVERAGE RATING: {{movieDetails.vote_average}}/10</h3>
            </div>

            <div class="original-language">
                <h3>ORIGINAL LANGUAGE: {{movieDetails.original_language}}</h3>
            </div>
            <div class="release_date">
                <h3>RELEASE DATE: {{movieDetails.release_date}}</h3>
            </div>
            <div class="duration">
                <h3>DURATION: {{movieDetails.runtime}} minutes</h3>
            </div>
            <div class="revenue">
                <h3>REVENUE: {{movieDetails.revenue}} USD</h3>
            </div>
            <div class="genres" >
                <h3>GENRES: 
                <p class="genre" 
                   *ngFor="let genre of movieDetails.genres"
                   >  {{genre.name+", "}}  </p>
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="loading-spinner"  *ngIf="!movieDetails">
    <app-loading></app-loading>
</div>
 