/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css' ;

.auth-form-margin-top{
    margin-top: 100px;
}
.auth-form-submit-btn{
    margin-right: 10px;
    color: black !important;
}
.auth-notvalid-text{
    color: red;
}
